<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css"></style>
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrapv3.3.7.css" rel="stylesheet">
    <link href="/assets/css/design_system.css" rel="stylesheet">
      <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <link rel="icon" href="/assets/images/favicon.ico">
    <title>Forgot Password</title>
</head>

<body class="signin">
    <div class="signin-wrapper">
        <div class="signin-body-top">
            <div class="floating-unit">
                <a href="http://www.pb.com/" target="_blank" class="signin-pb-logo"></a>
                <div class="signin-box">
                    <h2 class="text-magenta spacer-bottom-sm spacer-top-xs" th:text="#{reset.pwd}">Reset your password.</h2>
                    <p th:text="#{forget.msg}">If you’ve forgotten your password, it’s easy to reset it. Just enter the email address for your account.</p>
                    <form autocomplete="off" role="form" id="myForm" name="myForm" action="forgotPassword" th:object="${user}" method='POST' novalidate="">
                        <input type="hidden" name="current_locale" id="current_locale" value="">
                         <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <input type="hidden" name="_flow" value="v2">
                        <input type="hidden" name="_product" value="/sendpro">
                        <div &amp;&amp; class="form-group spacer-top-sm spacer-bottom-sm">
                            <label for="name" th:text="#{email}">Email</label>
                            <input name="email" id="email" type="email" class="form-control"  th:field="*{email}" >

                             <span class="error text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></span>

                             <span th:if="${error!= null}" th:utext="${error}" class="text-danger"> </span>
                        </div>
                        <span class=""><button id="forgotPasswordButton" type="submit" class="btn btn-primary btn-block btn-lg spacer-top-xs"  data-toggle="modal" data-target="#fpModal" th:text="#{send.reset.link}">Send Reset Link</button></span>
                        <div class="row"></div>
                    </form>
                    <p class="text-center spacer-top-md"><a href="/login" th:text="#{return.to.sign}">Return to Sign In</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->

<div id="fpModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header text-center">
				<div th:if="${success== null}" >
				<img src="/assets/images/sendingMail.gif">
			      <h2><span th:text="#{sending.mail}">Sending Mail</span><span>...</span></h2>

				</div>
				<div th:if="${success!= null}">
				<img src="/assets/images/successmark.gif">
				 <h2  th:text="${success}" class="text-center"  id="msg"></h2>
				</div>
			</div>
			<div class="modal-footer">
        <button type="button" id="modalCloseButton" class="btn btn-primary btn-md center-block" th:text="#{close}">Close</button>
        </div>
		</div>
	</div>
</div>


<!--//Modal-->



    <!--footer-->
    <main></main>
  <th:block th:include="_footer"></th:block>
    <!--//footer-->
</body>
<script>

	$(document).ready(function(){

		$("#myForm").validate({
			rules : {
				email : {
					required : true,
					email: true
				}
			}
		});

		if($('#msg').text()!='')
			{
				$("#fpModal").modal('show');
			}

		$("#modalCloseButton").click(function(){
			location.href = "/login";
		});
	});



</script>

</html>