<!-- header -->
<th:block th:include="_header"></th:block>
<div class="fixed-header container-sm-footer">
    <div class="site-wrapper market-US">
        <!-- /header -->
        <form autocomplete="off" name="dailySummaryForm" id="dailySummaryForm"
					role="form">

        <h1 class="text-center" th:text="#{daily.parcel.summary}">Daily Parcel Summary</h1>

	    <div class="downloadReport">
			<div class="col-md-12">
			<div class="form-group col-md-4">
				<label> <span th:text="#{zone1}">Zone</span>
				</label> <!-- <input id="zone" name="zone" autocomplete="off" type="text"
					list="zoneList" > -->
			 		<select id="zoneList" class="selectpicker form-control"></select>

			<!-- <datalist id="zoneList">
				</datalist> -->
			</div>

			<div class="form-group col-md-4">
				<label> <span th:text="#{division1}">Division</span>
				</label> <!-- <input id="division" name="division" autocomplete="off"
					list="divisionList" type="text" class="form-control"> -->
					<select id="divisionList" class="selectpicker form-control"></select>
				<!-- <datalist id="divisionList">
				</datalist> -->
			</div>

			<div class="form-group col-md-4">
				<label> <span th:text="#{district1}">District</span>
				</label> <!-- <input id="district" name="district" autocomplete="off"
					list="districtList" type="text" class="form-control">
				<datalist id="districtList">
				</datalist> -->
				<select id="districtList" class="selectpicker form-control"></select>
			</div>
			</div>
			<div class="col-md-12">
			<div class="form-group col-md-4">
				<label> <span th:text="#{thana1}">Thana</span>
				</label> <!-- <input id="thana" name="thana" autocomplete="off" list="thanaList"
					type="text" class="form-control">

				<datalist id="thanaList">
				</datalist> -->
				<select id="thanaList" class="selectpicker form-control">
				</select>
			</div>

			<div class="form-group col-md-4">
				<label> <span th:text="#{suboffice1}">Sub Office</span>
				</label> <!-- <input id="subOffice" name="subOffice" autocomplete="off"
					list="subOfficeList" type="text" class="form-control"> -->

				<!-- <datalist id="subOfficeList">
				</datalist> -->
				<select id="subOfficeList" class="selectpicker form-control">
				</select>
			</div>

			<div class="form-group col-md-4 spacer-bottom-sm">
				<label> <span th:text="#{group.by}">Group By</span>
				</label>

				<select class="form-control name" id="list" list="list">
                    <option selected>Select Group By</option>
                    <option>Zone</option>
                    <option>Division</option>
                    <option>District</option>
                    <option>Thana</option>
                    <option>Sub Office</option>
                </select>
            </div>
			</div>

			<div class="col-md-12">
			<div class="col-md-2 form-group">
				<select class="form-control name" id="viewList" list="viewList">
                    <option>All Parcels</option>
                    <option>Booked Parcels</option>
                    <option>Void Parcels</option>
                </select>
            </div>

		    <div class="col-md-2 text-right spacer-bottom-sm col-lg-offset-4">
                <input type="text" id="searchbox" class="form-control name" th:placeholder="#{search}">
            </div>
            <div class="col-md-2">
                <input autocomplete="off" class="form-control name" data-toggle="tooltip" id="fromdate" name="fromdate"
                       type="date">
            </div>
            <div class="col-md-2 spacer-bottom-sm">
                <button type="button" id="getReportButton" class="btn btn-primary btn-md" th:text="#{get.report}">
                    Get Report
                </button>
            </div>
            <div id="dateErrorContainer" class="errorForm errorHeight text-center">
					<p th:text="#{not.valid.date}">Please select a valid date. Date does not exist!!</p>
			</div>
			</div>
        </div>

        <div id="display_result" class="col-md-12"></div>
		<div id="display_result1" class="col-md-12"></div>

        </form>

		<div id="no_data" style="display:none">
                <h3 class="tableTitle text-center">
					<span th:text="#{no.transactions.available}"> No
						Transactions Available </span><span>!!!</span>
                </h3>
         </div>
    </div>
</div>

<!-- ****Start Parcel Image Modal**** -->
<div id="photoModal" class="modal fade" role="dialog" data-backdrop="static">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<div class="h3 col-md-10">
					<label>Parcel Photo</label>
				</div>
				<div class="col-md-2">
					<button id=webcam_close type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span id=close aria-hidden="true"></span><span class="sr-only">Close</span>
					</button>
				</div>
			</div>
			<div class="modal-body">
					<div id="my_camera" style="width:500px ;height:375px;"></div>
			</div>
		</div>
	</div>
</div>
<!-- ****End Parcel Image Modal**** -->

    <!-- footer -->
<th:block th:include="_footer"></th:block>
    <!-- footer -->
</body>

<script>
var divisionList;
var divlist;
var $tr;
var $table;
var $table_merged;
var $tbody ;

var today;
var now;

 function zone(){
//Populate Zone List on document Ready
	$.ajax({
		type: "post",
		url:"/parcel/getDistinctZone?ajax=true",
		success:function(result){
			$("#zoneList").append('<option>All</option>');
		  $.each(result,function(key, data){
		    var zoneList = '<option>'+data+'</option>';
		    $("#zoneList").append(zoneList);
		  //  $("#zoneList").append(zoneList);
		  });
		}
	});
}

function division(){
	//Populate Division List on document Ready
	$.ajax({
		type: "post",
	    url:"/parcel/getDistinctDivision?ajax=true",
	    success:function(result){
	    	$("#divisionList").append('<option>All</option>');
	      $.each(result,function(key, data){
	        var divisionList = '<option>'+data+'</option>';
	        $("#divisionList").append(divisionList);
	    //    $("#divisionList").append(divisionList);
	      });
	    }
	  });
}

function district(){
	//Populate district List on document Ready
	$.ajax({
		type: "post",
	    url:"/parcel/getDistinctDistrict?ajax=true",
	    success:function(result){
	    	$("#districtList").append('<option>All</option>');
	      $.each(result,function(key, data){
	        var districtList = '<option>'+data+'</option>';
	        $("#districtList").append(districtList);
	      //  $("#districtList").append(districtList);
	      });
	    }
	  });
}

function thana(){
	//Populate Thana List on document Ready
	$.ajax({
	type: "post",
	url:"/parcel/getDistinctThana?ajax=true",
	success:function(result){
		$("#thanaList").append('<option>All</option>');
	  $.each(result,function(key, data){
	    var thanaList = '<option>'+data+'</option>';
	    $("#thanaList").append(thanaList);
	  });
	}
	});
}

function subOffice(){
	//Populate Suboffice List on document Ready
	$.ajax({
		type: "post",
	url:"/parcel/getSubOffice?ajax=true",
	success:function(result){
	//	$("#subOfficeList").empty();
		$("#subOfficeList").append('<option>All</option>');
	  $.each(result,function(key, data){
	    var soList = "<option value='" + data.subOffice + "'>" + data.subOffice +' ('+data.postalCode+')'+ "</option>";
	    $("#subOfficeList").append(soList);
	  //  $("#zoneList").append(zoneList);
	  });
	}
	});
}

$(window).on('load',function(){

	  	zone();
		division();
		district();
		thana();
		subOffice();

		now = new Date();

		var day = ("0" + now.getDate()).slice(-2);
		var month = ("0" + (now.getMonth() + 1)).slice(-2);

		today = now.getFullYear()+"-"+(month)+"-"+(day) ;
		$("#fromdate").val(today);
});

$(document).ready(function() {

    $('#rtable').DataTable();
    $("#searchbox").hide();
	$('#dateErrorContainer').hide();


// Check if body height is higher than window height :)
    if ($(document).height() > $(window).height()) {
          $("#foot").addClass("footer-top-margin");
    }

  //onclick of enter key also, button event must be triggered
	$("#dailySummaryForm").keydown(function(event) {
		var keyCode = (event.keyCode ? event.keyCode : event.which);
		//keycode for enter key is 13
		if (keyCode == 13) {
			// Cancel the default action, if needed
			event.preventDefault();
			// Trigger the button element with a click
			document.getElementById("getReportButton").click();
		}
	});

    $('#rtable thead tfoot').hide();

	$("#getReportButton").click(function() {
		 updatePage();
	} );

	var view_flag=0;

	<!--update fn -->
	function updatePage(){

			$.ajax({
	                   type: "post",
	                   url: "/report/dailysummarys?ajax=true&",
	                   data: {
	                	   		zone: $("#zoneList").val(),
	                            division: $("#divisionList").val(),
	                            district: $("#districtList").val(),
	                            thana: $("#thanaList").val(),
	                            subOffice: $("#subOfficeList").val(),
	                            viewList: $("#viewList").val(),
	                            aggregateBy: $("#list").val(),
	                            fdate:$("#fromdate").val()
	                   },
	                   dataType: "json",
	                   cache: false,
	  				   success: function(response) {

	 					var title_area;

	 					//set title_area
	 					if($("#zoneList").val() == "All")
	 					{
	 						title_area="India";
	 					}
	 					else if($("#divisionList").val() == "All")
	 					{
	 						title_area=$("#zoneList").val();
	 					}
	 					else if($("#districtList").val() == "All")
	 					{
	 						title_area=$("#divisionList").val();
	 					}
	 					else if($("#thanaList").val() == "All")
	 					{
	 						title_area=$("#districtList").val();
	 					}
	 					else if($("#subOfficeList").val() == "All")
	 					{
	 						title_area=$("#thanaList").val();
	 					}
	 					else
	 					{
	 						title_area=$("#subOfficeList").val();
	 					}

	  					//format date
	  					var userDate = $("#fromdate").val();
	  					var date = userDate.split("-");
	  					var title_date = date[2]+ "-" + date[1] + "-" +date[0];

	  					 view_flag=1;
	  				     $('#display_result').html('');
	  				     $('#display_result1').html('');

	  				     if(jQuery.isEmptyObject(response))
			  			 {
			  			   	$("#no_data").show();
			  			 }
			  			 else if(($("#list").val() == "Select Group By"))
			   			 {
			  				    	 $("#searchbox").show();
			   						   var sum = 0;
										var wgt = 0;
					  					$("#no_data").hide();

							            // create table
				          		   		$table = $('<table id="rtable" class="table">');

				          		   	    // thead
				           				$table.append('<thead>').children('thead')
				            			.append('<tr />').children('tr').append('<th>S.No.</th><th>Track Id</th><th>Label Code</th><th>Sender</th><th>Recipient</th><th>Value<br>(in Rs.)</th><th>Content</th><th>Date</th><th>Services</th><th>Status</th><th>Calculated<br>Amount<br> (in Rs.)</th><th>Amount<br>(in Rs.)</th><th>Weight<br>(in gms)</th><th>Parcel Image</th>');

				        			    //tbody
				            		    $tbody = $table.append('<tbody id="tbody" />').children('tbody');

				        			    var j=1;

			   						$.each(response, function(key, value) {
			   	  						//key.length gives key length (eg if khulna result is 6)
			   	  						//value.length gives elements in each value

			   	   						   	 	var item = value[0];

			   	                   				//parse json date
			   	                   				var created_date = item.createdDate;
			   	                   				var time = new Date(created_date);

			   	    							//format date
			   	                   				var userDate = item.createdDate.substr(0,10);
			   	                   		        var date = userDate.split("-");
			   	                   		        var title_date = date[2]+ "/" + date[1] + "/" +date[0];

			   	                               // add row
			   	                   	           $tbody.append('<tr />').children('tr:last')
			   	                                .append("<td>"+(j++)+"</td>")
			   	                                //.append("<td><a href='/pbTracking/trackWithParcelId?trackId="+item.trackId+"'target=_blank>"+item.trackId +"</a></td>")
												.append('<td><a href="#" onclick="newTab(\'' + item.trackId + '\')">'+item.trackId+'</a></td>')
			   	                                .append("<td>"+item.labelCode+"</td>")

			   	                                .append("<td>"+item.senderName +", "+item.senderAddress.addressLine1+", "+
			   	                                (item.senderAddress.addressLine2 != "" ? item.senderAddress.addressLine2 +"," : "")+ (item.senderAddress.landmark != "" ? item.senderAddress.landmark +"," : "")+
			   	                                 item.senderAddress.subOffice+", "+ item.senderAddress.thana+", "+
			   	                                 item.senderAddress.district+", "+ item.senderAddress.division+", "+
			   	                                 item.senderAddress.zone+", India, "+ item.senderAddress.postalCode+" Mob. No.: "+item.senderMobileNumber
			   	                                +"</td>")

			   	                                .append("<td>"+item.recipientName+", "+item.receiverAddress.addressLine1+", "+ (item.receiverAddress.addressLine2 != "" ? item.receiverAddress.addressLine2 +", " : "")+
			   	                                (item.receiverAddress.landmark != "" ? item.receiverAddress.landmark +", " : "")+ item.receiverAddress.subOffice+", "+ item.receiverAddress.thana+", "+
			   	                                 item.receiverAddress.district+", "+ item.receiverAddress.division+", "+ item.receiverAddress.zone+", India,"+ item.receiverAddress.postalCode+" Mob. No.:"+item.recipientMobileNumber+"</td>")

			   	                                 .append("<td>"+item.parcelValue+"</td>")
			   	                                 .append("<td>"+item.parcelContent+"</td>")
			   	                                 .append("<td>"+title_date+" "+time.toString().substring(16,24)+"</td>")
			   	                                 .append("<td>"+item.serviceCode+"</td>")
			   	                                 .append("<td>"+item.status+"</td>")
			   	                                 .append("<td>"+((item.invoiceBreakup.calculatedAmnt == item.invoiceBreakup.payableAmnt) ? "Actual" : item.invoiceBreakup.calculatedAmnt)+"</td>")
			   	                                 .append("<td>"+item.invoiceBreakup.payableAmnt+"</td>")
			   	                                 .append("<td>"+item.actWeight+"</td>")
			   	                   	     		
			   	                                 .append('<td class="text-center"><a href="#" onclick="previewimage(\'' + item.parcelimage + '\')">Preview</a></td>')
			   	                               
			   	                  		          $table.appendTo('#display_result');
			   	                  		          sum =sum + item.invoiceBreakup.payableAmnt;
			   	                  		          wgt = wgt + item.actWeight;
			   	  				});
				               	$table.append("<tfoot><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>"+ '<font size="4">'+"Total:</th><th>"+ '<font size="4">'+sum.toFixed(2)+"</th><th>"+ '<font size="4">'+wgt.toFixed(2)+"</th><th></th></tfoot>");

				               	$table.removeAttr('width').dataTable({

			   	             				"dom": '<"top"lB>rt<"bottom"ip>',
			   	             				"deferRender": true,
			   	             			"autoWidth": false,

			   	               			"oLanguage": {
				  					  	  		 "sLengthMenu": "_MENU_"
				  					    	 },
				  					    	//to disble page no for 1st page
												"fnDrawCallback": function(oSettings) {
											        if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
											            $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
											        }
											        else
											        {
											            $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
											        }
											    },
			   	               			 "createdRow": function(row, data, dataIndex) {
			   	               			    if (data[9] == "void") {
			   	               			   //   $(row).css("background-color", '#FFCCCB');
			   	               			      $(row).addClass("danger");
			   	               			    }
			   	               			  },
				   	  					    bAutoWidth: false,
				   	  						ordering: false,
				   	  					    aoColumns : [
				   	  						    { sWidth: '1%' },
				   	  							{ sWidth: '11%' },
				   	  							{ sWidth: '13%' },
				   	  							{ sWidth: '19%' },
				   	  							{ sWidth: '19%' },
				   	  							{ sWidth: '2%' },
				   	  							{ sWidth: '1%' },
				   	  							{ sWidth: '12%' },
				   	  							{ sWidth: '3%' },
				   	 							{ sWidth: '8%' },
				   								{ sWidth: '1%' },
				   								{ sWidth: '1%' },
				   								{ sWidth: '1%' },
				   								{ sWidth: '8%' }
				   								
				   	  				  ],

			   	               		 buttons: [

			     	                       { extend: 'pdfHtml5',
				 	      	                    	text: '<span class="fa fa-file-pdf-o"></span>',
				 	      	                    	title: 'Parcel Report'+" ("+title_date+"-"+title_area+")",
				 	      	                      	orientation: 'landscape',
				 	      	                    	pageSize: 'A4',
				 	      	                    	"charset": "utf-8",
				 	      	                    	footer: true,
				 	      	                    	exportOptions: {
					 	      	                                modifier: { page: 'all', search: 'none' } ,
					 	      	                             columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12],
					 	      	                             
					 	      	                    	},
					 	      	 					customize: function (doc) {
					 	      	 					   doc.content[1].layout = "Borders";
					 	      	 				       doc.content[1].margin = [ 0, 0, 0, 0 ]; //left, top, right, bottom

						 	      	                   	 doc.defaultStyle.fontSize = 9;
							 	      	 				 doc.styles.tableHeader.fontSize = 9;


					 	      							//Create a date string that we use in the footer. Format is dd-mm-yyyy
					 	      							var d1 = new Date();
					 	      							var jsDate = d1.getDate()+'-'+(d1.getMonth()+1)+'-'+d1.getFullYear();

					 	      							doc['footer']=(function(page, pages) {
					 	      								return {
					 	      									columns: [
					 	      										{
					 	      											alignment: 'left',
					 	      											text: ['Created on: ', { text: d1.toString().substring(0, 21) }]
					 	      										},
					 	      										{
					 	      											alignment: 'right',
					 	      											text: ['page ', { text: page.toString() },	' of ',	{ text: pages.toString() }]
					 	      										}
					 	      									],
					 	      									margin: 20
					 	      								}
					 	      							});
					 	      	 					},
				 	      	                       },
				 	      	                       {
				 	         	                    	extend: 'excelHtml5',
				 	         	                        text: '<span class="fa fa-file-excel-o"></span>',
				 	         	                        title: 'Parcel Report'+ " ("+title_date+"-"+title_area+")",
				 	         	                      	orientation: 'landscape',
					 	      	                    	pageSize: 'A4',
					 	      	                    	footer: true,
					 	      	                    	exportOptions: {
						 	      	                    	   modifier: { page: 'all', search: 'none' } ,
						 	      	                    	columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,12],
						 	      	                    	},

				 	         	                   }
				 	     					],
			  	        			});
			   				}
			  				else  //group by
			   				{
			  						$("#searchbox").show();
			   						$table = $('<table id="rtable" class="table">');
			   						$table.append('<thead>').children('thead')
		   	            			.append('<tr />').children('tr').append('<th>S.No.</th><th>Track Id</th><th>Label Code</th><th>Sender</th><th>Recipient</th><th>Value<br>(in Rs.)</th><th>Content</th><th>Date</th><th>Services</th><th>Status</th><th>Calculated<br>Amount<br> (in Rs.)</th><th>Amount<br>(in Rs.)</th><th>Weight<br>(in gms)</th>');
			   						$.each(response, function(key, value) {
			   	  						//key.length gives key length (eg if khulna result is 6)
			   	  						//value.length gives elements in each value

			   	  						if($("#subOfficeList").val() != "All")
			   	  							key = $("#subOfficeList").val();

			   	   						var sum = 0;
			   							var wgt = 0;
			   		  					$("#no_data").hide();

			   				   			$table.append('<tbody>');
			   	            		 	$table.append([
				               				'<tr >',
				               				    '<td colspan=13><strong>'+key+'</strong></td>',
				               				 '<td style="display: none;"></td>',
				               					'<td style="display: none;"></td>',
				               					'<td style="display: none;"></td>',
				               					'<td style="display: none;"></td>',
				               					'<td style="display: none;"></td>',
				               					'<td style="display: none;"></td>',
				               					'<td style="display: none;"></td>',
				               					'<td style="display: none;"></td>',
				               					'<td style="display: none;"></td>',
				               					'<td style="display: none;"></td>',
				               					'<td style="display: none;"></td>',
				               					'<td style="display: none;"></td>',
				               				'</tr>'
				               				].join(''));
		   	                  		      $table.appendTo('#display_result');


			   	            		        var j=0
			   	                   			for(j=0; j<value.length; j++)
			   	                   			{
			   	                   				var item = value[j];

			   	                   				//parse json date
			   	                   				var created_date = item.createdDate;
			   	                   				var time = new Date(created_date);

			   	    							//format date
			   	                   				var userDate = item.createdDate.substr(0,10);
			   	                   		        var date = userDate.split("-");
			   	                   		        var title_date = date[2]+ "/" + date[1] + "/" +date[0];

			   	                               // add row
			   	                   	            $table.append([

			   	                   	            	"<tr>",
			   	                                "<td>"+(j+1)+"</td>",
			   	                             	//"<td><a href='/pbTracking/trackWithParcelId?trackId="+item.trackId+"'target=_blank>"+item.trackId +"</a></td>",
			   	                                "<td><a href='#' onclick='newTab(\"" + item.trackId + "\")'>" + item.trackId + "</a></td>",
			   	                             			"<td>"+item.labelCode+"</td>",
			   	                                "<td>"+item.senderName +", "+item.senderAddress.addressLine1+", "+
			   	                                (item.senderAddress.addressLine2 != "" ? item.senderAddress.addressLine2 +"," : "")+ (item.senderAddress.landmark != "" ? item.senderAddress.landmark +"," : "")+
			   	                                 item.senderAddress.subOffice+", "+ item.senderAddress.thana+", "+
			   	                                 item.senderAddress.district+", "+ item.senderAddress.division+", "+
			   	                                 item.senderAddress.zone+", India, "+ item.senderAddress.postalCode+" Mob. No.: "+item.senderMobileNumber
			   	                                +"</td>",

			   	                                "<td>"+item.recipientName+", "+item.receiverAddress.addressLine1+", "+ (item.receiverAddress.addressLine2 != "" ? item.receiverAddress.addressLine2 +", " : "")+
			   	                                (item.receiverAddress.landmark != "" ? item.receiverAddress.landmark +", " : "")+ item.receiverAddress.subOffice+", "+ item.receiverAddress.thana+", "+
			   	                                 item.receiverAddress.district+", "+ item.receiverAddress.division+", "+ item.receiverAddress.zone+", India,"+ item.receiverAddress.postalCode+" Mob. No.:"+item.recipientMobileNumber+"</td>",

			   	                                 "<td>"+item.parcelValue+"</td>",
			   	                                 "<td>"+item.parcelContent+"</td>",
			   	                                 "<td>"+title_date+" "+time.toString().substring(16,24)+"</td>",
			   	                                 "<td>"+item.serviceCode+"</td>",
			   	                                 "<td>"+item.status+"</td>",
			   	                              	 "<td>"+((item.invoiceBreakup.calculatedAmnt == item.invoiceBreakup.payableAmnt) ? "Actual" : item.invoiceBreakup.calculatedAmnt)+"</td>",
			   	                                 "<td>"+item.invoiceBreakup.payableAmnt+"</td>",
			   	                                 "<td>"+item.actWeight+"</td>",
			   	                             
			   	                             '</tr>'
					               				].join(''));

				   	                  		      $table.appendTo('#display_result');

				   	                  		  	  sum =sum + item.invoiceBreakup.payableAmnt;
			   	                  		      	  wgt = wgt + item.actWeight;
			   	                     		}
			               					//$table.append("<tfoot><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>"+ '<font size="4">'+"Total:</th><th>"+ '<font size="4">'+sum+"</th><th>"+ '<font size="4">'+wgt+"</th></tfoot>");
			   	            		     $table.append([
					               				'<tr>',
					               					'<td style="display: none;"></td>',
					               					'<td style="display: none;"></td>',
					               					'<td style="display: none;"></td>',
					               					'<td style="display: none;"></td>',
					               					'<td style="display: none;"></td>',
					               					'<td style="display: none;"></td>',
					               					'<td style="display: none;"></td>',
					               					'<td style="display: none;"></td>',
					               					'<td style="display: none;"></td>',
					               					'<td style="display: none;"></td>',
					               				    '<td colspan = 11 class="text-right"><strong>Total:</strong></td>',
					               				    '<td ><strong>'+sum.toFixed(2)+'</strong></td>',
					               				    '<td ><strong>'+wgt.toFixed(2)+'</strong></td>',
					               				'</tr>'
					               				].join(''));

			   	                  		      $table.appendTo('#display_result');

			   	  				 });
			   						$table.append('</tbody>');
			   						$table.append('</table>');

			   						$table.removeAttr('width').dataTable({
			   							//to disable auto sorting of tbody data
				   						 "ordering": false,
				   				        "deferRender": true,
					   				     "autoWidth": false,

			   	               			"createdRow": function(row, data, dataIndex) {
			   	               			    if (data[9] == "void") {
			   	               			   //   $(row).css("background-color", '#FFCCCB');
			   	               			      $(row).addClass("danger");
			   	               			    }
			   	               			  },
			               				"dom": '<"top"lB>rt<"bottom"ip>',

			   	  					    	 "oLanguage": {
			   	  					  	  		 "sLengthMenu": "_MENU_"
			   	  					    	 },
			   	  					  //to disble page no for 1st page
			 								"fnDrawCallback": function(oSettings) {
			 							        if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
			 							            $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
			 							        }
			 							        else
			 							        {
			 							            $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
			 							        }
			 							    },

				   	  				    	 aoColumns : [
				   	  						    { sWidth: '1%' },
				   	  							{ sWidth: '11%' },
				   	  							{ sWidth: '14%' },
				   	  							{ sWidth: '20%' },
				   	  							{ sWidth: '20%' },
				   	  							{ sWidth: '2%' },
				   	  							{ sWidth: '2%' },
				   	  							{ sWidth: '11%' },
				   	 							{ sWidth: '10%' },
				   								{ sWidth: '7%' },
				   								{ sWidth: '4%' },
				   								{ sWidth: '5%' },
				   								{ sWidth: '4%' }
			   	  						  ],

			   	  				          buttons: [
				      	                       { 		extend: 'pdfHtml5',
					 	      	                    	text: '<span class="fa fa-file-pdf-o"></span>',
					 	      	                    	title: 'Parcel Report'+" ("+title_date+"-"+title_area+")\n"+ $("#list").val()+" Wise List",
					 	      	                    	orientation: 'landscape',
					 	      	                    	pageSize: 'A4',
					 	      	                    	"charset": "utf-8",
					 	      	                      	footer: true,

  					 	      	                    	exportOptions: {
					 	      	                                      modifier: { page: 'all', search: 'none' } ,
						 	      	                    },

						 	      	                 customize: function(doc) {

						 	      	                   	 doc.content[1].layout = 'lightHorizontalLines'; // noBorders , headerLineOnly
						 	      	                   	 doc.defaultStyle.fontSize = 8;
							 	      	 				 doc.styles.tableHeader.fontSize = 8;
						 	      	 					 //doc.content[1].table.widths = [ '1%',  '10%', '15%', '18%','18%', '2%', '2%', '10%','10%','7%','4%','4%'];

						 	      	 					 //to align all columns in the center
					 	      	                    	 doc.defaultStyle.alignment = 'center';
					 	      	                         doc.styles.tableHeader.alignment = 'center';

					 	      	                      	 doc.styles.tableBodyOdd.fillColor= 'white';

					 	      	                         var rowCount = doc.content[1].table.body.length;
														for (i = 1; i < rowCount; i++)
														{
															if(doc.content[1].table.body[i][1].text == "")
															{
																doc.content[1].table.body[i][0].fontSize = 9;
																doc.content[1].table.body[i][9].fontSize = 9;
																doc.content[1].table.body[i][10].fontSize = 9;
																doc.content[1].table.body[i][11].fontSize = 9;
																doc.content[1].table.body[i][0].bold = true;
																doc.content[1].table.body[i][9].bold = true;
																doc.content[1].table.body[i][10].bold = true;
																doc.content[1].table.body[i][11].bold = true;
															}

															doc.content[1].table.body[i][3].alignment = 'left';
															doc.content[1].table.body[i][4].alignment = 'left';
															doc.content[1].table.body[i][6].alignment = 'left';
															doc.content[1].table.body[i][7].alignment = 'left';
															doc.content[1].table.body[i][8].alignment = 'left';
														}

														   doc.content[1].margin = [ 0, 0, 0, 0 ]; //left, top, right, bottom

						 	      	 					  //Create a date string that we use in the footer. Format is dd-mm-yyyy
						 	      							var d = new Date();
						 	      							var jsDate = d.getDate()+'-'+(d.getMonth()+1)+'-'+d.getFullYear();

						 	      							doc['footer']=(function(page, pages) {
						 	      								return {
						 	      									columns: [
						 	      										{
						 	      											alignment: 'left',
						 	      											text: ['Created on: ', { text: d.toString().substring(0, 21) }]
						 	      										},
						 	      										{
						 	      											alignment: 'right',
						 	      											text: ['page ', { text: page.toString() },	' of ',	{ text: pages.toString() }]
						 	      										}
						 	      									],
						 	      									margin: 20
						 	      								}
						 	      							});
						 	      	 					},
					 	      	                       },
					 	      	                       {
					 	         	                    	extend: 'excelHtml5',
					 	         	                        text: '<span class="fa fa-file-excel-o"></span>',
					 	         	                        title: 'Parcel Report'+ " ("+title_date+"-"+title_area+")",
					 	         	                        messageTop: $("#list").val()+" Wise List",
					 	         	                      	orientation: 'landscape',
						 	      	                    	pageSize: 'A4',
						 	      	                    	footer: true,
						 	      	                    	exportOptions: {
							 	      	                    	   modifier: { page: 'all', search: 'none' } ,
							 	      	                    	},

					 	         	                   }
					 	     				],

			   	        			});
		   					 }

				               		$("#searchbox").keyup(function() {
				     	       			  $table.fnFilter(this.value);
				     	       			});

				               		$(".dataTables_length").css('clear', 'none');
									$(".dataTables_length").css('margin-bottom', '-42px');
									$(".dataTables_length").css('margin-left', '0px');
				           }
			 		});
			}

	$("#viewList").click(function() {
		if(view_flag == 1)
			 updatePage();
	} );

	$('#fromdate').on('change', function() {
		if($('#fromdate').val() > today)
			$('#dateErrorContainer').show();
		else
			$('#dateErrorContainer').hide();
	});

			// <!-- update function end -->
			//Populate all fields based on subOffice
			$('#subOfficeList').on('change', function() {
				if($('#subOfficeList').val() != "All"){
					$.ajax({
						type: "post",
						  url:"/parcel/getAddressBySubOffice?ajax=true",
						  data:{
						    subOffice: $("#subOfficeList").val()
						  },
						  success:function(result){
							  $("#zoneList").val(result.zone);
						      $("#divisionList").val(result.division);
						      $("#districtList").val(result.district);
						      $("#thanaList").val(result.thana);

						      $("#list").empty();
						      var list = '<option>Select Group By</option>';
						      $("#list").append(list);
						  }
						});
				 }
				else
				{
					$("#list").empty();
				    var list = '<option>Select Group By</option>';
				    $("#list").append(list);
				    var list = '<option>Sub Office</option>';
				    $("#list").append(list);
				}
			});

			//Populate zone, division, district fields based on thana
			$('#thanaList').on('change', function() {
			$.ajax({
				type: "post",
			  url:"/parcel/getAddressByThana?ajax=true",
			  data:{
			    thana: $("#thanaList").val()
			  },
			  success:function(result){
			      $("#zoneList").val(result[0].zone);
			      $("#divisionList").val(result[0].division);
			      $("#districtList").val(result[0].district);

			      $("#list").empty();
			      var list = '<option>Select Group By</option>';
			      $("#list").append(list);
			      var list = '<option>Sub Office</option>';
			      $("#list").append(list);
			  }
			});
			});


			//Populate zone, division fields based on district
			$('#districtList').on('change', function() {
				$.ajax({
					type: "post",
				  url:"/parcel/getAddressByDistrict?ajax=true",
				  data:{
				    district: $("#districtList").val()
				  },
				  success:function(result){

				      $("#zoneList").val(result[0].zone);
				      $("#divisionList").val(result[0].division);

				      $("#list").empty();
				      var list = '<option>Select Group By</option>';
				      $("#list").append(list);
				      var list = '<option>Thana</option>';
				      $("#list").append(list);
				      var list = '<option>Sub Office</option>';
				      $("#list").append(list);
				  }
				});
			});

			//Populate zone fields based on division
			$('#divisionList').on('change', function() {
				$.ajax({
					type: "post",
				  url:"/parcel/getAddressByDivision?ajax=true",
				  data:{
				    division: $("#divisionList").val()
				  },
				  success:function(result){
				      $("#zoneList").val(result[0].zone);

				      $("#list").empty();
				      var list = '<option>Select Group By</option>';
				      $("#list").append(list);
				      var list = '<option>District</option>';
				      $("#list").append(list);
				      var list = '<option>Thana</option>';
				      $("#list").append(list);
				      var list = '<option>Sub Office</option>';
				      $("#list").append(list);
				  }
				});
			});

			//Populate Division option List Based On Zone
			$('#zoneList').on('change', function() {
				if($("#zoneList").val() != "All"){
					$.ajax({
						type: "post",
						  url:"/parcel/getDistinctDivisionByZone?ajax=true",
						  data:{
						    zone: $("#zoneList").val()
						  },
						  success:function(result){
						   $("#divisionList").empty();
						    $("#divisionList").append('<option>All</option>');
						    $.each(result,function(key, data){
						      var divisionList = '<option>'+data+'</option>';
						      $("#divisionList").append(divisionList);
						    });

						    $("#districtList").empty();
						    district();
						     $("#thanaList").empty();
						    thana();
						    $("#subOfficeList").empty();
						    subOffice();

						    $("#list").empty();
						    var list = '<option>Select Group By</option>';
						    $("#list").append(list);
						    var list = '<option>Division</option>';
						    $("#list").append(list);
						    var list = '<option>District</option>';
						    $("#list").append(list);
						    var list = '<option>Thana</option>';
						    $("#list").append(list);
						    var list = '<option>Sub Office</option>';
						    $("#list").append(list);
						  }
						});
				}else{
					$("#divisionList").empty();
					division();
					$("#districtList").empty();
					district();
					$("#thanaList").empty();
					thana();
					$("#subOfficeList").empty();
					subOffice();

				      $("#list").empty();
				      var list = '<option>Select Group By</option>';
				      $("#list").append(list);
				      var list = '<option>Zone</option>';
				      $("#list").append(list);
				      var list = '<option>Division</option>';
				      $("#list").append(list);
				      var list = '<option>District</option>';
				      $("#list").append(list);
				      var list = '<option>Thana</option>';
				      $("#list").append(list);
				      var list = '<option>Sub Office</option>';
				      $("#list").append(list);
				}
			});

			//Populate District Option List Based On Division
			$('#divisionList').on('change', function() {
				if($("#divisionList").val() != "All"){
					$.ajax({
						type: "post",
						  url:"/parcel/getDistinctDistrictByDivision?ajax=true",
						  data:{
						    division: $("#divisionList").val()
						  },
						  success:function(result){
						   $("#districtList").empty();
						    $("#districtList").append('<option>All</option>');
						    $.each(result,function(key, data){
						      var districtList = '<option>'+data+'</option>';
						      $("#districtList").append(districtList);
						    });

						    $("#thanaList").empty();
							   thana();
						    $("#subOfficeList").empty();
						    subOffice();

						      $("#list").empty();
						      var list = '<option>Select Group By</option>';
						      $("#list").append(list);
						      var list = '<option>District</option>';
						      $("#list").append(list);
						      var list = '<option>Thana</option>';
						      $("#list").append(list);
						      var list = '<option>Sub Office</option>';
						      $("#list").append(list);
						  }
						});
				}else{
					$("#districtList").empty();
					district();
					$("#thanaList").empty();
					thana();
					$("#subOfficeList").empty();
					subOffice();

				      $("#list").empty();
				      var list = '<option>Select Group By</option>';
				      $("#list").append(list);
				      var list = '<option>Division</option>';
				      $("#list").append(list);
				      var list = '<option>District</option>';
				      $("#list").append(list);
				      var list = '<option>Thana</option>';
				      $("#list").append(list);
				      var list = '<option>Sub Office</option>';
				      $("#list").append(list);
				}

			});

			//Populate Thana Option List Based On District
			$('#districtList').on('change', function() {
				if($("#districtList").val() != "All"){
					$.ajax({
						type: "post",
						  url:"/parcel/getDistinctThanaByDistrict?ajax=true",
						  data:{
						    district: $("#districtList").val()
						  },
						  success:function(result){
						   $("#thanaList").empty();
						    $("#thanaList").append('<option>All</option>');
						    $.each(result,function(key, data){
						      var thanaList = '<option>'+data+'</option>';
						      $("#thanaList").append(thanaList);
						    });
						    $("#subOfficeList").empty();
						   subOffice();

						      $("#list").empty();
						      var list = '<option>Select Group By</option>';
						      $("#list").append(list);
						      var list = '<option>Thana</option>';
						      $("#list").append(list);
						      var list = '<option>Sub Office</option>';
						      $("#list").append(list);
						  }
						});
				}
				else{
					$("#thanaList").empty();
					thana();
					$("#subOfficeList").empty();
					subOffice();
				      $("#list").empty();
				      var list = '<option>Select Group By</option>';
				      $("#list").append(list);
				      var list = '<option>District</option>';
				      $("#list").append(list);
				      var list = '<option>Thana</option>';
				      $("#list").append(list);
				      var list = '<option>Sub Office</option>';
				      $("#list").append(list);
				}
			});


			//Populate subOffice Option List Based On Thana
			$('#thanaList').on('change', function() {
				if($("#thanaList").val() != "All"){
					$.ajax({
						type: "post",
						  url:"/parcel/getSubOfficeByThana?ajax=true",
						  data:{
						    thana: $("#thanaList").val()
						  },
						  success:function(result){
						   $("#subOfficeList").empty();
						    $("#subOfficeList").append('<option>All</option>');
						    $.each(result,function(key, data){
						      var subOfficeList = "<option value='" + data.subOffice + "'>" + data.subOffice +' ('+data.postalCode+')'+ "</option>";
						      $("#subOfficeList").append(subOfficeList);
						    });

						      $("#list").empty();
						      var list = '<option>Select Group By</option>';
						      $("#list").append(list);
						      var list = '<option>Sub Office</option>';
						      $("#list").append(list);

						  }
						});
				}
				else{
					$("#subOfficeList").empty();
					subOffice();
				      $("#list").empty();
				      var list = '<option>Select Group By</option>';
				      $("#list").append(list);
				      var list = '<option>Thana</option>';
				      $("#list").append(list);
				      var list = '<option>Sub Office</option>';
				      $("#list").append(list);
				}

			});
});

function previewimage(data){
	 var src = "data:image/jpeg;base64,"+data;
		$("#photoModal").modal('show');
		document.getElementById('my_camera').innerHTML = 
			  '<img src="'+src+'" style="width:500px ;height:375px;"/>';
}

</script>
