<!DOCTYPE html>
<html lang="locale.language" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css"></style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrapv3.3.7.css" rel="stylesheet">
    <link href="/assets/css/design_system.css" rel="stylesheet">
      <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/validation/jquery.validate.min.js"> </script>
	<script src="/validation/additional-methods.js"> </script>
	<script th:src="${'/validation/messages_'+#locale+'.js'}"></script>
	<script src="assets/js/bootstrap.min.js"></script>
    <link rel="icon" href="/assets/images/favicon.ico">
    <title>Forgot Password</title>
</head>

<body class="signin">
    <div class="signin-wrapper">
        <div class="signin-body-top">
            <div class="floating-unit">
                <a href="http://www.pb.com/" target="_blank" class="signin-pb-logo"></a>
                <div class="signin-box">
                    <h2 class="text-magenta spacer-bottom-sm spacer-top-xs" th:text="#{reset.pwd}">Reset your password.</h2>
                    <p th:text="#{forget.msg}">If you’ve forgotten your password, it’s easy to reset it. Just enter the email address for your account.</p>

                    <form autocomplete="off" role="form" id="myForm" name="myForm" action="forgotPassword" th:object="${user}" method='POST'>
                        <input type="hidden" name="current_locale" id="current_locale" value="">
                        <input type="hidden" name="_flow" value="v2">
                        <input type="hidden" name="_product" value="/sendpro">
                      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                        <div &amp;&amp; class="form-group spacer-top-sm spacer-bottom-sm">
                            <label for="name" th:text="#{email}">Email</label>
                            <input name="email" id="email" type="email" class="form-control"  th:field="*{email}" >
                            <div id="emailErrorContainer" class="errorForm">
                             <span class="error text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></span>

                             <span th:if="${error!= null}" th:utext="${error}" class="text-danger"> </span>
                             <span th:if="${noEmail!= null}" th:utext="${noEmail}" class="text-danger"> </span>

                        </div>
                        </div>
                        <span class=""><button id="forgotPasswordButton" type="submit" class="btn btn-primary btn-block btn-lg spacer-top-xs" th:text="#{send.reset.link}">Send Reset Link</button></span>
                        <div class="row"></div>
                    </form>
                    <p class="text-center spacer-top-md"><a href="/login" th:text="#{return.to.sign}">Return to Sign In</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->

<div id="fpModal" class="modal fade" data-backdrop="static" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header text-center">
			<div th:if="${success!= null}">
				<img src="/assets/images/successmark.gif">
				 <h2  th:text="${success}" class="text-center" id="msg"></h2>
				</div>
			</div>
			<div class="modal-footer">
        <button type="button" id="modalCloseButton" class="btn btn-primary btn-md center-block" th:text="#{close}">Close</button>
        </div>
		</div>
	</div>
</div>

<div id="fpModal1" class="modal fade" data-backdrop="static" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header text-center">
				<img src="/assets/images/sendingMail.gif">

			      <h2><span th:text="#{sending.mail}">Sending Mail</span><span>...</span></h2>
			       <h2  th:text="${success}" class="text-center"></h2>

			</div>
		</div>
	</div>
</div>

<!--//Modal-->
    <!--footer-->
    <main></main>
  <th:block th:include="_footer"></th:block>
    <!--//footer-->
</body>

<script>
$(function () {
    var token = $("input[name='_csrf']").val();
    var header = "X-CSRF-TOKEN";
    $(document).ajaxSend(function(e, xhr, options) {
        xhr.setRequestHeader(header, token);
    });
});

	$(document).ready(function(){
		if ($(document).height() > $(window).height()) {
		      $("#foot").addClass("footer-top-margin");
		}

		$("#myForm").validate({
			rules : {
				email : {
					required : true,
					email: true
				}
			},
			errorPlacement: function (error, element) {
		        if (element.attr("name") == "email")
		        {
		          $("#emailErrorContainer").html(error);
		          $("#emailErrorContainer").show();
		        }

		      //displays a tooltip
	            element.attr('title', error.text());
	            $(element).tooltip({
	                position: {
	                    my: "left+5 center",
	                    at: "right center"
	                },
	                trigger: "hover"
	            });
	        },
	      //highlight the error field with red
	        highlight: function(element, error) {
	            $(element).css('background', '#FFCCCB');
	        },

	        // Called when the element is valid:
	        unhighlight: function(element) {
	            $(element).css('background', '#ffffff');
	        }
      });
});

	$('#myForm').on('submit', function(e){
		if($('#myForm').valid())
			  $('#fpModal1').modal('show');

    });

	if($('#msg').text()!='')
	{
		   $("#fpModal1").modal('hide');
    	   $("#fpModal").modal('show');
	}

	$("#modalCloseButton").click(function(){
		location.href = "/login";
	});

</script>

</html>
