<!-- header -->
<th:block th:include="_header"></th:block>
<!-- /header -->

<div class="container fixed-header container-sm-footer">
	<div class="site-wrapper market-US">

		<div style="display: none">
			<p id="role1" th:text="${role}"></p>
		</div>
		<strong>
			<h1 class="text-center" th:text="#{track.parcel}">Track Parcel</h1>
		</strong>
		<div class="col-md-12">
			<div class="col-md-4 col-md-offset-4">
				<form autocomplete="off" name="trackParcelForm" id="trackParcelForm"
					role="form" value="v2">

					<div class="form-group">
						<label th:text=#{tracking.parcel}>Parcel Tracking ID</label> <input
							th:value="${trackIdHidden}" name="trackIdHidden"
							id="trackIdHidden" type="hidden"> <input id="trackId"
							name="trackId" type="text" class="form-control">

						<div id="errorContainer" class="errorForm">
							<ul></ul>
						</div>

					</div>
					<button id="trackButton" type="button"
						class="btn btn-primary spacer-bottom-md btn-block btn-lg"
						data-toggle="modal" th:text=#{track.now}>Track Now</button>
				</form>
			</div>
		</div>
	</div>
	<!-- <div  th:if="${@environment.getActiveProfiles()[0] == 'server'} OR ${@environment.getActiveProfiles()[0] == 'client'} OR ${@environment.getActiveProfiles()[0] == 'clientonly'}"> -->
	<table class="table table-bordered text-center" id="viewParcelDetails">
		<thead>
			<tr class="active">
				<th class="text-center" style="width: 25%">Date & Time</th>
				<th class="text-center" style="width: 15%"
					th:if="${role} == 'ROLE_ADMIN' OR ${role} == 'ROLE_RMS_USER' OR ${role} == 'ROLE_PO_USER' OR ${role} == 'FRONT_DESK_USER'">
					Bag Id</th>
				<th class="text-center" style="width: 60%">Status</th>
			</tr>
		</thead>
		<tbody id="tBody">
			<tr>
			</tr>
		</tbody>
	</table>
	<!-- </ul> -->
</div>
<!-- End Container -->

<!-- Track Id not present Error Modal -->
<div id="trackIdNotPresentModal" class="modal fade"
	data-backdrop="static" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<span class="h3 col-xs-12 text-center"
					th:text="#{trackid.not.exist.error}">Tracking id does not
					exist. Please check again.</span>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true"></span><span class="sr-only"
						th:text="#{close}">Close</span>
				</button>
			</div>
			<div class="text-center">
				<span><button type="button" class="btn btn-primary"
						data-dismiss="modal" th:text="#{close}">Close</button></span>
			</div>
		</div>
	</div>
</div>
<!-- //Track Id not present Error Modal -->

<script type="text/javascript">
    function ajaxCallDemo(trackid) {
        $.ajax({
            type: "post",
            url: "/pbTracking/getDetailsWithParcelId",
            data: {
                trackId: trackid
            },
            dataType: "json",
            cache: false,
            success: function(result) {
            	 if(jQuery.isEmptyObject(result))
	  			 {
	                $('#trackIdNotPresentModal').modal('show');
	  			 }

                var roleValue = $('#role1').text();
                if (roleValue == "ROLE_ADMIN" || roleValue == "ROLE_RMS_USER" || roleValue == "ROLE_PO_USER" || roleValue == "FRONT_DESK_USER") {
                    $('#viewParcelDetails').show();
                    $.each(result, function(i, item) {
                    	if(item.updatedOn != null){
                    		 var created_date = item.updatedOn;
                             var time = new Date(created_date);
                             var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                             var dayName = days[time.getDay()];
                             var userDate = item.updatedOn.substring(0, 10);
                             var date = userDate.split("-");
                             var date_string = date[2] + "-" + date[1] + "-" + date[0];
                    	}
                      	if(item.updatedOn != null){
                        	var updatedon =  dayName + " " + date_string + " " + time.toString().substring(16, 21)
                      	}
                      	else{
                        	var updatedon = "-"
                      	}

                        var $tr = $('<tr>').append(

                    	$('<td>').text(updatedon),
                      	$('<td>').text(item.bagId),
                        $('<td>').text(item.trackingDesc)
                      );

                        $('#tBody').append($tr);
                    });
                } else {
                    $('#viewParcelDetails').show();
                    $.each(result, function(i, item) {

                    	if(item.updatedOn != null){
                    		var created_date = item.updatedOn;
                            var time = new Date(created_date);
                            var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                            var dayName = days[time.getDay()];
                            var userDate = item.updatedOn.substring(0, 10);
                            var date = userDate.split("-");
                            var date_string = date[2] + "-" + date[1] + "-" + date[0];
                   	  }
                     	if(item.updatedOn != null){
                       	var updatedon =  dayName + " " + date_string + " " + time.toString().substring(16, 21)
                     	}
                     	else{
                       	var updatedon = "-"
                     	}

                     var $tr = $('<tr>').append(
                         	$('<td>').text(updatedon),
                            $('<td>').text(item.trackingDesc)
                        );

                        $('#tBody').append($tr);
                    });
                }
            },
            error: function(result) {
                $('#viewParcelDetails').hide();
                $('#trackIdNotPresentModal').modal('show');
            }
        });
    }

    $(document).ready(function() {
        $('#viewParcelDetails').hide();

        // code supposed to run once DOM is loaded
        var trackId = $('#trackIdHidden').val();
        if (trackId != '') {
           $('#trackId').val(trackId);
            ajaxCallDemo($('#trackIdHidden').val());
        }

        // Check if body height is higher than window height
        if ($(document).height() > $(window).height()) {
            $("#foot").addClass("footer-top-margin");
        }
        //validations on trackid page
        $("#trackParcelForm").validate({
            rules: {
                "trackId": {
                    required: true,
                   // digits: true,
                    minlength:10,
                    maxlength:50
                }
            },
            errorPlacement: function(error, element) {
                if ((element.attr("name") == "trackId")) {
                    $("#errorContainer").html(error);
                    $("#errorContainer").show();
                }
              //displays a tooltip
                element.attr('title', error.text());
                $(element).tooltip({
                    position: {
                        my: "left+5 center",
                        at: "right center"
                    },
                    trigger: "hover"
                });

            },
            //highlight the error field with red
            highlight: function(element, error) {
                $(element).css('background', '#FFCCCB');
            },
            // Called when the element is valid:
            unhighlight: function(element) {
                $(element).css('background', '#FFFFFF');
            }
        });

    });

    $("#trackButton").click(function() {
    	 if($("#trackParcelForm").valid()){
    		 var trackid = $('#trackId').val();
    	     ajaxCallDemo(trackid);
    	     $('#tBody').empty();

    	 }

    });

   //onclick of enter key also, button event must be triggered
	$("#trackParcelForm").keydown(function(event) {
		var keyCode = (event.keyCode ? event.keyCode : event.which);
		//keycode for enter key is 13
		if (keyCode == 13) {
			// Cancel the default action, if needed
			event.preventDefault();
			// Trigger the button element with a click
			document.getElementById("trackButton").click();
		}
	});


      /*   window.onload = function() {

            // code supposed to run once DOM is loaded
            var trackId = $('#trackIdHidden').val();
            if (trackId != '') {
               $('#trackId').val(trackId);
                ajaxCallDemo($('#trackIdHidden').val());
            }

    };
 */
   /*  function stopRKey(evt) {
    	  var evt = (evt) ? evt : ((event) ? event : null);
    	  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
    	  if ((evt.keyCode == 13) && (node.type=="text"))  {
    		  return false;}
    	}
    	document.onkeypress = stopRKey; */
</script>

<!-- footer -->
<th:block th:include="_footer"></th:block>
<!-- footer -->
</body>